html, body {
  font-family: 'Unica One';
  margin: 0;
  padding: 0;
}

/* First header */
h1 {
  color:crimson;
  text-align: center;
  font-size: 60px;
  font-family: 'Unica One';
  font-stretch: expanded;
  padding: 25px;
  width: 1920px;
  box-sizing: border-box;
  background-color: aliceblue;
  border-bottom: 5px solid crimson;
  position: absolute;
  top:-40px;
  left:0px;
}

/* Instructions button */
#myBtn {
  background-color: aliceblue;
  color:crimson;
  font-family: 'Unica One';
  font-size: x-large;
  cursor: pointer;;
  border:solid crimson;
  border-width: 4px;
  border-radius: 2px;
  padding: 5px 20px;
}

/* Positioning instructions button */
#instructions {
  margin: 0;
  position: absolute;
  top: 100px;
  left: 870px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 17%; /* Location of the box */
  left: 0;
  top: 0;
  width: 1920px; /* Full width */
  height: 937px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  font-family: 'Unica One';
  color: crimson;
  position: absolute;
  background-color:aliceblue;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 5px;
  top:300px;
  left:50px;
  right:50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color:grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  color: white;
}

.modal-body {padding: 10px 15px;}

/* Legend */
#legendPosition {
  position: absolute;
  top:150px;
  left:570px;
}
/* basic positioning */
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid black; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .path { background-color: rgb(255, 251, 0); }
.legend .wall { background-color: rgb(0, 30, 50); }
.legend .searchPath2 { background-color:rgb(3, 248, 252);}
.legend .searchPath1 { background-color: rgb(209, 36, 108); }


canvas {
  display: block;
  border:10px solid crimson;
  border-radius: 7px;
}
